.projects-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.projects-container::after {
    content: '';
    width: 185px;
}
.project {
    flex: 0 1 185px;
    margin-bottom: 25px;
    max-height: 185px;
}
.project img {
    width: 185px;
}

@media only screen and (max-width: 600px) {
    .project {
        flex: 0 1 100%;
        max-height: 100%;
    }
    .project img {
        width: 100%;
    }
}
