.projects-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}
.projects-container::after {
    content: '';
    width: 250px;
}
.project {
    flex: 0 1 250px;
    margin-bottom: 25px;
    max-height: 250px;
}
.project a {
    display: inline-block;
    position: relative;
    padding-top: 100%;
    width: 100%;
}
.project img,
.project .project-meta {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: left;
}
.project:hover .project-meta {
    z-index: 1;
    background: #555;
}

@media only screen and (max-width: 600px) {
    .project {
        flex: 0 1 100%;
        max-height: 100%;
    }
    .project img {
        width: 100%;
    }
}
