header {
    width: 100%;
    max-width: 880px;
    position: sticky;
    top: 0;
    z-index: 3;
}
.header-container {
    background: #faf6f6;
    padding: 80px 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: padding 0.1s;
}
.sticky {
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .header-container {
        padding: 60px;
    }
    .sticky {
        padding: 20px 60px;
    }
}
